.profile-header {
    display: flex; flex-direction: column; gap: 12px;
}

.author-header {
    display: flex; gap: 24px; align-items: center;
    padding: 30px 30px 27px;
}
.profile-picture {
    width: 57px; height: 57px;
    border-radius: 50%;
}
.profile-picture > img {
    width: 57px; height: 57px;
    border-radius: 50%;
}
.profile-picture svg {
    width: 57px; height: 57px;
}

.profile-info {
    display: flex; flex-direction: column; gap: 4px;
}

.author-actions {
    display: flex; justify-content: space-between;
}
.author-actions > div {
    display: flex; gap: 6px;
}


.author-about {
    display: flex; flex-direction: column; gap: 18px;
    padding: 22px 40px 26px 30px;
}

.about-title {
    font-weight: 500;
    font-size: 16px;
}
.author-about .about-title:not(:first-of-type) {
    margin-top: 10px;
}

.modal .metadata-item {
    width: 100%;
}
.danger-accent *, .danger-accent, .danger-accent :before {
    color: var(--color-danger-accent);
    border-color: var(--color-danger-accent) !important;
}