.profile-header {
    display: flex; flex-direction: column; gap: 12px;
}

.author-header {
    display: flex; gap: 24px; align-items: center;
    padding: 30px 30px 27px;
}
.profile-picture {
    width: 57px; height: 57px;
    border-radius: 50%;
}
.profile-picture > img {
    width: 57px; height: 57px;
    border-radius: 50%;
}
.profile-info {
    display: flex; flex-direction: column; gap: 4px;
}

.author-actions {
    display: flex; justify-content: space-between;
}
.author-actions > div {
    display: flex; gap: 6px;
}


.author-about {
    display: flex; flex-direction: column; gap: 18px;
    padding: 22px 40px 26px 30px;
}

.about-title {
    font-weight: 500;
    font-size: 16px;
}


.followed-author > div {
    display: flex; align-items: center; gap: 20px;
    padding: 20px 20px;
}
.followed-author .small-profile-picture {
    margin: 0 !important;
}