.enter-form {
    width: 44%;
    /*max-width: 50%;*/
    display: flex; flex-direction: column; gap: 44px;
    align-items: center;
}
.enter-form .enter-form-fields {
    width: 100%;
}

.space-between {
    width: 100%;
}


.enter-form-fields {
    display: flex; flex-direction: column; gap: 20px;
}
.enter-form-header {
    display: flex; flex-direction: column; align-items: center;
    gap: 14px;
}


.center-container {
    margin-top: 50px;
}