#toolbar-container, #editor {
    background-color: var(--color-foreground);
    border: var(--border-width) solid var(--color-outline);
}

#toolbar-container {
    border-top-left-radius: var(--border-radius-block);
    border-top-right-radius: var(--border-radius-block);
    border-bottom-color: var(--color-border);

    display: flex; gap: 20px; align-items: center;
    padding: 10px 20px;
}
#editor {
    border-bottom-left-radius: var(--border-radius-block);
    border-bottom-right-radius: var(--border-radius-block);
    border-top: none;

    height: 600px;
    padding: 20px;
}


#create-chapter-type {
    display: flex; flex-direction: column; gap: 6px;
}


.toolbar-item {
    display: flex; gap: 10px; align-items: center;
}
.toolbar-title {
    font-weight: 500;
}


/* родные элементы Quill */
.ql-editor, .ql-blank {
    padding: 0;
}
.ql-editor::before, .blank::before {
    font-style: normal !important;
    color: var(--color-tip) !important;
    left: 60px !important;
}
.ql-editor p {
    text-indent: 40px;
    margin-bottom: 0.4em;
}


/* */
.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar
.ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: var(--color-accent) !important;
}