.reader {
    display: flex; flex-direction: column; align-items: center; gap: 20px;
    width: 100%;
}
.reader > * {
    width: 100%;
}

.vertical-line {
    height: 100% !important;
}

.reading-progress {
    display: flex; justify-content: space-between; align-items: center; gap: 20px;
}
.progress-bar {
    width: 100%; height: 5px;
    border: var(--border-width) solid var(--color-outline);
    border-radius: 10px;
    position: relative;
}
.current-progress {
    position: absolute; top: 0;
    width: 24%; height: 3px;
    border: var(--border-width) solid var(--color-accent);
    background-color: var(--color-accent70);
    border-radius: 10px;
}


.reader-header {
    display: flex; justify-content: space-between; align-items: center;
    padding: 18px 24px;
}
.reader-header-left {
    display: flex; align-items: center; gap: 30px;
}
.reader-header-right {
    display: flex; align-items: center; gap: 24px;
}

.action-buttons {
    display: flex; gap: 9px;
}


.reader-navigation {
    display: flex; justify-content: center; gap: 14px;
}

.reader-content {
    min-height: 400px;
    display: flex; flex-direction: column; gap: 40px;
    padding: 40px 100px;
}
.reader-book-header {
    display: flex; flex-direction: column; align-items: center; gap: 6px;
}

.reader-book-text p {
    text-indent: 40px;
    margin-bottom: 0.8em;
    /*font-size: 16px;*/
    line-height: 1.5em;
}

.reader-book-text p.ql-align-center {
    text-align: center;
}
.reader-book-text p.ql-align-right {
    text-align: right;
}


.reader-parameters {
    width: 100%;
    display: flex; gap: 10px; justify-content: space-between;
    flex-wrap: wrap;
}
.font-block {
    width: 150px;
    padding: 10px;
    display: flex; flex-direction: column; gap: 6px; align-items: center;
    cursor: pointer;
}
.font-preview {
    font-size: 20px;
}

.font-anonymous .font-preview {
    font-family: 'Anonymous', monospace !important;
    font-weight: 200;
}
.font-comfortaa .font-preview {
    font-family: 'Comfortaa', sans-serif !important;
    font-weight: 200;
}
.font-cormorant .font-preview {
    font-family: 'Cormorant', serif !important;
    font-weight: 400;
}
.font-roboto .font-preview {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 200 !important;
}