.side-menu::-webkit-scrollbar {
    display: none;
}
.side-menu {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

.side-menu * {
    user-select: none;
}


#menu-button {
    position: absolute;
    top: 25px; left: 12px;
}
.side-menu {
    position: fixed;
    top: 0; left: 0;
    height: 100%; width: fit-content; min-width: 53px;
    border-radius: 0;
    padding: 70px 8px 25px 8px;
    display: flex; flex-direction: column; justify-content: space-between; gap: 100px;
    border-top: none; border-bottom: none; border-left: none;
    z-index: 99999;
    overflow: visible;
}
.sub-side-menu {
    display: flex; flex-direction: column; align-items: center; gap: 20px;
}
.side-menu .line {
    width: calc(100% + 8px + 8px) !important;
    margin-left: -8px; margin-right: -8px;
    background-color: var(--color-border);
}
.side-menu a {
    text-decoration: none;
}
/*.side-menu {
    overflow-y: scroll;
}*/
.guest-menu {
    padding-top: 100px;
}
.guest-menu a {
    width: 100%;
}


.side-buttons {
    display: flex; flex-direction: column;
}
.side-buttons > * {
    display: flex; justify-content: center; gap: 14px;
}

.small-profile-picture {
    display: flex; align-items: center; gap: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.small-profile-picture * {
    font-size: 16px;
    font-weight: 500;
}
.small-profile-picture > img {
    border-radius: 50%;
    width: 36px; height: 36px;
}
.small-profile-picture svg {
    width: 36px; height: 36px;
}

.side-menu .side-buttons {
    width: 100%;
}


.side-menu .extendable-menu-item:hover, .side-menu a:not(.button):hover {
    padding: 4px 2px; margin: -4px -2px;
    border-radius: 10px;
    background-color: var(--color-dark-fill);
}
.extendable-menu-item:hover .vertical-expand-line {
    left: 36px;
}
.extendable-menu-item:hover .closed-menu-tooltip {
    left: 56px; top: -11px;
}



.side-menu summary {
    display: flex; gap: 14px;
}
details[open] .expand-icon {
    transform-origin: center center;
    transform: rotate(-180deg);
}
.expand-icon {
    display: flex;
}


.side-menu details[open] summary {
    padding: 6px 6px 6px 10px; margin: -6px -6px -6px -10px;
    border-radius: 10px;
    background-color: var(--color-dark-fill);
    position: relative;
}
.side-menu details[open] summary::before {
    content: "";
    position: absolute;
    left: -6px; top: 0; bottom: 0;
    width: 1px; height: 12px;
    background-color: var(--color-accent);
    border-radius: 4px;
    align-self: center;
}


.side-menu details[open] summary > svg {
    fill: var(--color-accent);
}


.side-menu details > .side-buttons {
    margin: 16px 0 10px 22px;
}


.vertical-expand-line {
    width: 1px; height: 12px;
    background-color: var(--color-accent);
    border-radius: 4px;
    position: absolute;
    left: 34px;
    align-self: center;
}
.to-hide {
    position: relative;
}
.closed-menu-tooltip {
    position: absolute;
    left: 54px; top: -15px;
    display: flex; flex-direction: column; gap: 14px;
    width: max-content;
}
.closed-menu-tooltip a {
    display: flex; gap: 14px;
    width: max-content;
}
.menu-tooltip-header {
    padding: 15px 20px 10px;
    border-bottom: var(--border-width) solid var(--color-border);
    display: flex; align-items: center; gap: 14px;
    color: var(--color-accent);
}
.menu-tooltip-header svg {
    fill: var(--color-accent);
}
.menu-tooltip-content {
    display: flex; flex-direction: column; gap: 10px;
    padding: 0 20px 20px;
}