* {
    font-family: 'Nunito', sans-serif;
    transition: .2s;
    color: var(--color-graphics);
    caret-color: var(--color-accent);
    font-size: 14px;
    /*font-weight: 500;*/
    box-sizing: border-box;
}
*::placeholder {
    color: var(--color-placeholder) !important;
}

html {
    min-height: 100vh;
    display: flex; flex-direction: column; align-items: center;
    padding: 0; margin: 0;
}

body {
    width: 100%; min-height: 90vh;
    background-color: var(--color-background);
    display: flex; flex-direction: column; align-items: center;
    gap: 20px;
    padding: 15px 0 40px 0;
}

body > * {
    width: 95%;
    max-width: 1100px;
}


input {
    padding: 0;
}


a {
    text-decoration: none;
}
.highlight-link {
    color: var(--color-accent);
    text-decoration: underline !important;
}
.highlight {
    color: var(--color-accent);
}
.highlight-svg > svg {
    fill: var(--color-accent);
}

button {
    padding: 0;
}


section.active-tab {
    display: flex !important;
}
section, .active-tab section, .book-type-depend, section > form {
    display: flex; flex-direction: column; gap: 20px;
}



/* цвет выделения в основных браузерах */
::selection {
    background-color: var(--color-accent);
    color: var(--color-light-graphics);
}
::-moz-selection {
    background-color: var(--color-accent);
    color: var(--color-light-graphics);
}


:focus {
    outline: none;
}



.no-underline {
    text-decoration: none !important;
}

.header1, .header1 * {
    font-weight: 500;
    font-size: 24px;
    margin: 10px 0;
}
.header2 {
    font-size: 20px;
    font-weight: 500;
}
.header3, .header3 div {
    font-weight: 600;
    font-size: 15px;
}


.tip {
    font-size: 12px;
    color: var(--color-tip);
}
.tip-color {
    color: var(--color-tip);
}


.icon {
    fill: var(--color-graphics);
}
.icon-accent .icon {
    fill: var(--color-accent);
}


.block {
    background-color: var(--color-foreground);
    border: var(--border-width) solid var(--color-outline);
    border-radius: 14px;
}

.line {
    width: 100% !important; max-width: none !important;
    height: 1px !important; max-height: 1px;
    background-color: var(--color-line);
}
.inner-line {
    width: 100%;
    height: var(--border-width);
    background-color: var(--color-border);
}
.small-inner-line {
    width: 100%;
    height: 0.5px;
    background-color: var(--color-border);
}
.vertical-line {
    width: var(--border-width) !important;
    background-color: var(--color-border);
}
body > .line, body > .inner-line {
    background-color: var(--color-lighter-line);
}
body > .inner-line {
    margin: 12px 0;
}

.line-centered-text {
    width: 100%;
    display: flex; align-items: center; gap: 40px;
}
.line-text {
    /*position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    padding: 0 40px;
    background-color: var(--color-background);*/
}



.space-between {
    display: flex; justify-content: space-between;
}
.center-container {
    height: 100%;
    display: flex; justify-content: center; align-items: center;
}



details > summary {
    list-style: none;
    user-select: none;
    cursor: pointer;
}



.notification {
    padding: 12px 60px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius-block);
    max-width: 600px;
    text-align: center;
}
.notification-success {
    border: var(--border-width) solid var(--color-success);
    background-color: var(--color-success30);
    color: var(--color-success);
}
.notification-error {
    border: var(--border-width) solid var(--color-error);
    background-color: var(--color-error30);
    color: var(--color-error);
}
.notification-warning {
    border: var(--border-width) solid var(--color-warning);
    background-color: var(--color-warning30);
    color: var(--color-warning);
}


.head-article {
    /*padding: 3px 0 3px 16px;*/
    padding-left: 10px;
    border-left: 2px solid var(--color-accent);
}


.steps {
    display: flex; justify-content: center; align-items: center; gap: 12px;
    margin: 20px;
}
.step {
    display: flex; align-items: center; gap: 10px;
    width: fit-content;
    padding: 4px 15px 3px;
    border: var(--border-width) solid var(--color-outline);
    border-radius: 10px;
    color: var(--color-tip);
    cursor: pointer;
    user-select: none;
}
.step svg {
    fill: var(--color-tip);
}

.active-step {
    background-color: var(--color-accent10);
    border-color: var(--color-accent);
    color: var(--color-accent);
}
.active-step svg {
    fill: var(--color-accent);
}

.completed-step svg {
    fill: var(--color-accent);
}


.hidden {
    display: none !important;
}
.blocked {

}


.themes-container {
    width: 350px;
    display: flex; flex-direction: column; gap: 10px;
}
.themes-container button {
    width: 100%;
    display: flex; justify-content: space-between; align-items: center; gap: 20px;
    padding: 8px 10px 8px 20px;
    font-weight: 500;
}


.record-item {
    display: flex; flex-direction: column;
    gap: 10px;
}
.record-item .header3 {
    margin: 0;
}



.blank-avatar circle {
    fill: var(--color-background);
    stroke: var(--color-outline);
}
.blank-avatar path {
    fill: var(--color-outline);
}



.main-epigraph {
    font-size: 20px;
}

.title-description {
    display: flex; flex-direction: column;
}

.publish-actions, .modal-buttons {
    display: flex; align-items: center; gap: 14px;
}