/* общий класс на элементы интерфейса */
.ui {
    background-color: var(--color-foreground);
    border: var(--border-width) solid var(--color-outline);
    border-radius: 10px;
    display: flex;
}

/* ПОЛЯ */
/* обычное поле */
.field {
    box-sizing: border-box;
    /*gap: 16px;*/
    padding: 7px 10px 6px 16px;
    min-width: 370px;
    position: relative;
}

.field input[type=text],
.field input[type=password] {
    background-color: transparent;
    border: none;
    width: 100%;
}
.field input[type=text]:focus, .field input[type=password]:focus {
    outline: none;
}
.field input[type=text]::placeholder {
    color: var(--color-tip);
    user-select: none;
}


/* ОКОЛО-ПОЛЕВЫЕ ВЕЩИ */
.field-item {
    display: flex; flex-direction: column; gap: 4px;
}
.under-field {
    display: flex; flex-direction: row; gap: 4px;
    flex-wrap: wrap;
}
/* подсказка */
.hint {
    color: var(--color-tip);
    font-size: 12px;
}
/* ошибка */
.help-block {
    color: var(--color-danger-accent);
    font-size: 12px;
}
/* поле с ошибкой */
.has-error {
    border-color: var(--color-danger-accent);
}



/* поле, которое селект */
.field-select {
    width: max-content;
    /*min-width: unset;*/
}


/* подпольный выпадающий список */
.field-with-dropdown {
    position: relative;
}
.dropdown-list {
    position: absolute;
    /*top: -400px;*/
    width: 100%; max-height: 200px;
    overflow-y: auto;
    padding: 8px 0;
    display: flex; flex-direction: column;
    z-index: 1000;
}
.dropdown-item {
    border-bottom: var(--border-width) solid var(--color-border);
    padding: 10px 20px;
    cursor: pointer;
    display: flex; flex-direction: column; gap: 5px;
}
.dropdown-item:last-of-type {
    border-bottom: none !important;
}

.selected-items {
    display: flex; gap: 15px;
    margin: 4px 0 10px;
}
.selected-item {
    display: flex; align-items: center; gap: 6px;
    border-radius: 6px;
    background-color: var(--color-accent20);
    padding: 3px 5px 3px 10px;
    color: var(--color-accent);
}
.selected-item svg {
    fill: var(--color-accent);
}




/* СЕЛЕКТ И ЕГО ПУНКТЫ*/
/*.select-container {
    padding-right: 16px !important;
}*/
.select-container select option {
    background-color: var(--color-foreground);
}
select {
    border: none;
    background-color: var(--color-foreground);
    width: 100%;
}




textarea {
    width: 100%; max-height: 200px;
    resize: vertical;
    /*border: var(--border-width) solid var(--color-outline);
    border-radius: 10px;
    padding: 7px 10px 6px 16px;*/
    background-color: var(--color-foreground);
    border: none;
    outline: none;
}
.symbol-count {
    color: var(--color-tip);
}
.field-header-words {
    display: flex; justify-content: space-between;
    margin-bottom: 8px;
}


/* поле поиска */
.search-field {
    box-sizing: border-box;
    gap: 16px;
    padding: 7px 24px 6px 16px;
    min-width: 370px;
}

.search-field > input[type=text] {
    background-color: transparent;
    border: none;
    width: 100%;
}
.search-field > input[type=text]:focus {
    outline: none;
}
.search-field > input[type=text]::placeholder {
    color: var(--color-tip);
    user-select: none;
}



/* КНОПКИ */
.button {
    text-decoration: none;
    cursor: pointer !important;
    user-select: none;
}

.icon-button {
    flex-direction: row;
    padding: 7px 20px 6px 14px;
    gap: 7px;
    width: fit-content;
}

.small-button {
    padding: 7px 6px 6px 7px;
    width: fit-content;
}
.very-small-button {
    padding: 5px;
    width: fit-content;
    border-radius: 7px;
    justify-content: center; align-items: center;
}

.button-left-align {
    flex-direction: row;
    padding: 7px 14px 6px 14px;
    gap: 7px;
    width: 100%;
    box-sizing: border-box;
}
.button-center-align {
    flex-direction: row; justify-content: center;
    padding: 7px 20px 6px;
}

.text-button {
    border: none;
    background: none;
}


.colored-button {
    display: flex; justify-content: center;
    background-color: var(--color-accent) !important;
    border: none;
    padding: 7px 50px 6px;
    color: var(--color-light-graphics);
}
.accent-button {
    color: var(--color-accent);
    border-color: var(--color-accent);
}
.accent-button .icon {
    fill: var(--color-accent);
}

.danger-accent-button {
    color: var(--color-danger-accent);
}
.danger-accent-button svg {
    fill: var(--color-danger-accent);
}
.danger-accent-icon-button svg {
    fill: var(--color-danger-accent);
}


.filled-button {
    /*background-color: var(--foreground);*/
    background: var(--color-accent10);
    border-color: var(--color-accent);
}
.inactive-button {
    background-color: var(--color-inactive-background);
    border-color: var(--color-outline);
    color: var(--color-tip);
}
.inactive-button > svg {
    fill: var(--color-tip);
}
.danger-button {
    color: var(--color-danger-accent);
}
.danger-button > svg {
    fill: var(--color-danger-accent);
}



.password-toggle-button {
    display: flex; align-items: center; gap: 12px;
    margin: -7px -8px -6px 0;
}
.password-toggle-button .vertical-line {
    background-color: var(--color-border);
    height: 100%;
}






/* ВКЛАДКИ */
.tab-header {
    display: flex; gap: 20px;
    border-bottom: var(--border-width) solid var(--color-outline);
    margin: 10px 0;
}
.tab {
    display: flex; align-items: center; gap: 6px;
    padding: 0 11px 7px 7px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    border-bottom: var(--border-width) solid transparent;
}
.tab.active-tab {
    border-color: var(--color-accent);
}


.tab-contents {
    width: 100%;
}
.tab-content {
    width: 100%;
    display: none;
}
.tab-content.active-tab {
    display: block;
}

.tab-contents .header2:not(:first-of-type) {
    margin-top: 20px;
}

.tab-number {
    color: var(--color-tip);
    padding: 1px 6px;
    border: var(--border-width) solid var(--color-tip);
    border-radius: 7px;
    font-size: 12px; font-weight: 500;
    background-color: var(--color-tip20);
}

.tab.active-tab .tab-number {
    color: var(--color-accent);
    background-color: var(--color-accent20);
    border-color: var(--color-accent);
}

.tab.active-tab svg {
    fill: var(--color-accent);
}


/* ЧЕКБОКС И РАДИОКНОПКА */
input[type=checkbox], input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
input[type=checkbox]+label, input[type=radio]+label,
[type=checkbox]+span, input[type=radio]+span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
/* чекбокс */
input[type=checkbox]+label::before, input[type=checkbox]+span::before {
    content: '';
    display: inline-block;
    width: 14px; height: 14px;
    flex-shrink: 0; flex-grow: 0;
    border: 1px solid var(--color-outline);
    border-radius: 4px;
    margin-right: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
}
input[type=checkbox]:checked+label::before, input[type=checkbox]:checked+span::before {
    border-color: var(--color-accent);
    background-color: var(--color-accent10);
    background-image: url("data:image/svg+xml,%3csvg width='8' height='7' viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.68947 6.21228C2.7082 6.23114 2.73367 6.24176 2.76024 6.2418C2.78682 6.24184 2.81232 6.2313 2.83112 6.21251L7.56172 1.48191C7.60039 1.44324 7.60082 1.38067 7.56268 1.34147L7.04105 0.80527C7.02241 0.78611 6.99688 0.77521 6.97015 0.775003C6.94342 0.774796 6.91772 0.785298 6.89879 0.804167L2.76023 4.92838L1.10101 3.28316C1.06191 3.24439 0.99883 3.24452 0.959894 3.28346L0.438262 3.80507C0.399298 3.84404 0.399196 3.90718 0.438034 3.94627L2.68947 6.21228Z' fill='%23FB784A' stroke='%23FB784A' stroke-width='0.2' stroke-linejoin='round'/%3e%3c/svg%3e");
}
/* радиокнопка */
input[type=radio]+label::before, input[type=radio]+span::before {
    content: '';
    display: inline-block;
    width: 14px; height: 14px;
    flex-shrink: 0; flex-grow: 0;
    border: 1px solid var(--color-outline);
    border-radius: 50%;
    margin-right: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
input[type=radio]:checked+label::before, input[type=radio]:checked+span::before {
    border-color: var(--color-accent);
    background-color: var(--color-accent10);
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='9' viewBox='0 0 8 9' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.26' y='0.76' width='7.48' height='7.48' rx='3.74' fill='%23FB784A' fill-opacity='0.5' stroke='%23FB784A' stroke-width='1' stroke-linejoin='round'/%3E%3C/svg%3E");
}
/* обёртка радиокнопок и чекбоксов и label */
.choice-input-block {
    padding: 8px 17px;
    width: 100%;
}


/* ТИПА СЕЛЕКТЫ */
.select-header {
    display: flex; align-items: center; justify-content: space-between;
    padding: 11px 40px 11px 20px;
}
.select-header-expand {
    display: flex; gap: 15px;
    font-weight: 500;
}
.select-content {
    padding: 12px 40px 20px 50px;
    background-color: var(--color-dark-fill);
    border: var(--border-width) solid var(--color-outline);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: grid;
    grid-template-columns: 50% auto auto auto;
    column-gap: 10px;
    row-gap: 20px;
}
.select-column-title {
    font-size: 12px;
    color: var(--color-tip);
}
.select-column-title:first-of-type {
    margin-left: 45px;
}
details input[type=checkbox]+label::before, details input[type=radio]+label::before {
    margin-right: 30px !important;
}


details[open] .select-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
}
details:not([open]) .select-header {
    transition: none;
}


/* ЗАГРУЗКА ФАЙЛА*/
input[type=file] {
    display: none;
}
.upload-container {
    width: 100%;
    display: flex; flex-direction: column; align-items: center; gap: 10px;
    border: var(--border-width) dashed var(--color-outline);
    border-radius: var(--border-radius-block);
    padding: 30px 20px;
}
.upload-container .upload-text:first-child {
    /*font-size: 16px;*/
    font-weight: 500;
}
.cover-preview {
    width: 100%;
}
.cover-preview canvas {
    height: 100px;
    width: 100%;
}
.dragover {
    background-color: var(--color-dragover);
    border-color: var(--color-accent);
}



/* МОДАЛЬНЫЕ ОКНА */
.modal {
    max-width: 700px;
    position: relative;
    padding: 50px 30px 30px;
}
.close-button {
    position: absolute;
    top: 20px; right: 30px;
}
dialog::backdrop {
    background-color: var(--color-backdrop);
}

.modal-container {
    display: flex; flex-direction: column; align-items: center; gap: 30px;
}