/* ЦВЕТА, КОТОРЫЕ ВРОДЕ БЫ НЕ МЕНЯЮТСЯ */
:root {
    --color-accent5: #FB784A05;
    --color-accent10: #FB784A10;
    --color-accent20: #FB784A20;
    --color-accent70: #FB784A70;

    --color-danger-accent10: #E25C4A10;

    --color-tip20: #BABAD620;
    --color-backdrop: rgba(23, 23, 33, 0.43);

    --color-placeholder: #757685;
}

/* РАЗМЕРЫ ТЕКСТА*/
:root {
    --h1: 22px;
    --h2: 20px;
}


/* ПАРАМЕТРЫ ОФОРМЛЕНИЯ */
:root {
    --border-width: 1px;
    --border-radius-block: 10px;
}